
version: "3"

services:
  kafka:
    image: docker.io/bitnami/kafka:3.6
    container_name: kafka
    ports:
      - "19092:19092"
    volumes:
      - kafka_data:/bitnami
    environment:
      # KRaft settings
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      # Listeners
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,CONNECTIONS_FROM_HOST://0.0.0.0:19092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://:9092,CONNECTIONS_FROM_HOST://146.185.242.74:19092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,CONNECTIONS_FROM_HOST:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT
  clickhouse-server:
    image: yandex/clickhouse-server
    container_name: clickhouse-server
    ports:
      - '18123:8123'
      - '19000:9000'
    volumes:
      - clickhouse_db:/var/lib/clickhouse
      - ./Clickhouse/config.xml:/etc/clickhouse-server/config.xml
    ulimits:
      nofile: 262144
  postgres:
    image: "postgres:14.2"
    container_name: "postgres"
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
    ports:
      - "5432:5432"
    volumes:
      - airflow_postgres_db:/var/lib/postgresql/data

  # удали/закомментируй меня после первого запуска
  # так же удали зависимости следующих 2 сервисов от меня
  airflow-initdb:
    image: "docker5300/marmot-hole"
    container_name: airflow-initdb
    depends_on:
      - postgres
    volumes:
      - ./Airflow/airflow.cfg:/usr/local/airflow/airflow.cfg
    entrypoint: /bin/bash
    command:
      - -c
      - airflow users list || ( airflow db init &&
        airflow users create
          --role Admin
          --username airflow
          --password airflow
          --email airflow@airflow.com
          --firstname airflow
          --lastname airflow )
    restart: on-failure

  airflow-webserver:
    image: "docker5300/marmot-hole"
    container_name: airflow-webserver
    restart: always
    depends_on:
      - postgres
      - airflow-initdb
    volumes:
      - airflow_dags:/usr/local/airflow/dags
      - ./Airflow/airflow.cfg:/usr/local/airflow/airflow.cfg
    ports:
      - "8080:8080"
    env_file:
      - Airflow/airflow-variables.env
    entrypoint: airflow webserver

  airflow-scheduler:
    image: "docker5300/marmot-hole"
    container_name: airflow-scheduler
    restart: always
    depends_on:
      - postgres
      - airflow-initdb
    volumes:
      - ./Airflow/airflow.cfg:/usr/local/airflow/airflow.cfg
      - airflow_dags:/usr/local/airflow/dags
    env_file:
      - Airflow/airflow-variables.env
    entrypoint: airflow scheduler

volumes:
  kafka_data:
    driver: local
    driver_opts:
      type: none
      device: data/kafka_data
      o: bind
  clickhouse_db:
    driver: local
    driver_opts:
      type: none
      device: data/clickhouse/db
      o: bind
  airflow_postgres_db:
    driver: local
    driver_opts:
      type: none
      device: data/postgres_data/db
      o: bind
  airflow_dags:
    driver: local
    driver_opts:
      type: none
      device: Airflow/dags
      o: bind
